<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237832195994-5a7ddp61lgohtdao42cvk12lcr4r8uk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237832195994-5a7ddp61lgohtdao42cvk12lcr4r8uk9</string>
	<key>API_KEY</key>
	<string>AIzaSyAgu-Z2IAyJmAG71I5Z6yzVHSxo3pEwWFc</string>
	<key>GCM_SENDER_ID</key>
	<string>237832195994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.english1</string>
	<key>PROJECT_ID</key>
	<string>translate-a6cde</string>
	<key>STORAGE_BUCKET</key>
	<string>translate-a6cde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237832195994:ios:081f132232d074b5ce3423</string>
	<key>DATABASE_URL</key>
	<string>https://translate-a6cde-default-rtdb.firebaseio.com</string>
</dict>
</plist>